new_simple/src/main/mule/new_simple.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7ccea8ec-d70a-4459-a28a-2f1e21890fdd" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="new_simpleFlow" doc:id="37ba257e-e40a-43b8-a9fa-3da49693a476" >
		<http:listener doc:name="Listener" doc:id="7d92c582-b94d-4dc3-972b-4a7ec8156198" config-ref="HTTP_Listener_config" path="hello"/>
		<set-payload value="Ahmedin" doc:name="Set Payload" doc:id="9934a24f-1f8c-43a2-a230-4f194060fa41" />
		<logger level="INFO" doc:name="Logger" doc:id="bdedb974-c727-4135-9376-5e836e1df576" message="#[payload]"/>
	</flow>
</mule>
